@keyframes slideUp {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
.LoadingScreen {
  display: flex;
  position: absolute;
  width: 100%;
  background-color: green;

  p {
    color: red;
  }

  animation: 5s slideUp;

}
